/* (1)*******TYPOGRAPHY SYSTEM******* */

/* Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights

- Line heights

- Letter spacing */

/* ********** (2) COLORS ********
Primary: ?????
Tints: ????
Shades: ????
Greys: #555 */

/* ********** (3) Images and ilustations ********
-Added to folder "img" */

/* ********** (4) ICONS ********
- Not chosen yet */

/* ********** (5) SHADOWS ********
- Not chosen yet */

/* ********** (6) BORDER-RADIUS ********
- Not chosen yet */

/* ********** (7) WHITE SPACE ********
- Not chosen yet */

/* ********** Spacing system (px) ********
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ********** (8) Visual Hierarchy ********
- Not chosen yet */

/* ********** (9) User Experience ********
- Not chosen yet */

/* ********** (10) Components and Layout********
- Not chosen yet */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; | 1 rem = 10px
  10px / 16px(height of font size by browser default) = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Patrick Hand", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background: linear-gradient(0.25turn, #ffe8cc, #ebfbee, #ebfbee, #ffe8cc);
  overflow-x: hidden;
}

/* ******GENARAL RUUSABLE COMPONENTS*******
*/

.container {
  max-width: 120rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}
